*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-family: fantasy;    
    font-size: 48px;
    font-weight: lighter;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

header li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 4px;
}

header li a:hover{
    text-decoration: underline;
}

#us{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-start
}

#us img{
    height: 250px;
}

#us{
    font-family: fantasy;
    font-weight:lighter;
    font-size: 32px;
    padding: 8px;
}

#us p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
}

#us ul img{
    height: 32px;
    margin-top: 8px;
}

#us li{
    display: inline;
    margin-left: 24px;
}

#schedule{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display:  flex;
    justify-content: space-between;
    align-items: flex-end;
}

#schedule{
    font-family: fantasy;
    font-weight: lighter;
    font-size: 32px;
    padding: 8px;
}

#schedule form input,
textarea,button{
    width: 380px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 8px;
    margin: 8px;
}

textarea{
    resize: none;
    height: 120px;
}

button{
    background-color: rgb(54, 54, 54);
    font-family: fantasy;
    font-weight: lighter;
    font-size:24px;
    color: white;
    height: 80px;
}

textarea :focus,button :focus{
    color: rgb(54, 54, 54);
}

button:hover{
    background-color: rgb(108, 108, 108);
    text-decoration: underline;
}

#schedule p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#socialmideas{
    background-color: rgb(54, 54, 54);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto
}

#socialmideas h3{
    font-family: fantasy;
    font-weight: lighter;
    font-size: 24px;
}

#socialmideas h4{
    font-family: Arial, Helvetica, sans-serif;
}

#socialmideas ul img{
    height: 32px;
    margin-top: 8px;
}

#socialmideas li{
    display: inline;
    margin-left: 24px;
}